## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.72,77,22,15.37,light rain
1,1,Meadow Lake,US,34.8014,-106.5436,94.46,20,2,5.79,clear sky
2,2,Thompson,CA,55.7435,-97.8558,77.16,36,40,2.30,scattered clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,29.86,69,20,4.61,few clouds
4,4,Avarua,CK,-21.2078,-159.7750,75.25,60,98,6.91,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What minimum temperature would you like for your trip? "))

max_temp = float(input("What maximum temperature would you like for your trip? "))

What minimum temperature would you like for your trip? 70
What maximum temperature would you like for your trip? 85

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.72,77,22,15.37,light rain
2,2,Thompson,CA,55.7435,-97.8558,77.16,36,40,2.30,scattered clouds
4,4,Avarua,CK,-21.2078,-159.7750,75.25,60,98,6.91,overcast clouds
5,5,Surt,LY,31.2089,16.5887,79.93,72,5,4.72,clear sky
6,6,Vaini,TO,-21.2000,-175.2000,77.16,65,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Pingzhuang,CN,42.0372,119.2889,82.11,40,92,5.50,overcast clouds
663,663,Ziniare,BF,12.5822,-1.2983,77.04,50,100,10.16,overcast clouds
665,665,Bari,IT,41.1177,16.8512,77.88,71,0,4.61,clear sky
670,670,Boa Vista,BR,2.8197,-60.6733,80.58,78,40,1.14,scattered clouds
671,671,Ola,RU,59.5833,151.2833,79.14,90,59,5.30,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()

clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.72,77,22,15.37,light rain
2,2,Thompson,CA,55.7435,-97.8558,77.16,36,40,2.30,scattered clouds
4,4,Avarua,CK,-21.2078,-159.7750,75.25,60,98,6.91,overcast clouds
5,5,Surt,LY,31.2089,16.5887,79.93,72,5,4.72,clear sky
6,6,Vaini,TO,-21.2000,-175.2000,77.16,65,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Pingzhuang,CN,42.0372,119.2889,82.11,40,92,5.50,overcast clouds
663,663,Ziniare,BF,12.5822,-1.2983,77.04,50,100,10.16,overcast clouds
665,665,Bari,IT,41.1177,16.8512,77.88,71,0,4.61,clear sky
670,670,Boa Vista,BR,2.8197,-60.6733,80.58,78,40,1.14,scattered clouds
671,671,Ola,RU,59.5833,151.2833,79.14,90,59,5.30,broken clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.72,light rain,3.0707,172.7902,
2,Thompson,CA,77.16,scattered clouds,55.7435,-97.8558,
4,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,
5,Surt,LY,79.93,clear sky,31.2089,16.5887,
6,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
9,Itoigawa,JP,81.57,broken clouds,37.0333,137.8500,
10,Cuiluan,CN,70.07,overcast clouds,47.7200,128.6480,
11,Labuhan,ID,77.23,clear sky,-6.8844,112.2051,
15,Huaihua,CN,81.45,overcast clouds,27.5494,109.9592,
16,Shenjiamen,CN,82.02,few clouds,29.9576,122.2980,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"       

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
           
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
           
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.72,light rain,3.0707,172.7902,Isles Sunset Lodge
2,Thompson,CA,77.16,scattered clouds,55.7435,-97.8558,Burntwood Hotel
4,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,Paradise Inn
5,Surt,LY,79.93,clear sky,31.2089,16.5887,الهادي ابوشعاله سرت
6,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
660,Pingzhuang,CN,82.11,overcast clouds,42.0372,119.2889,Haoke Guest House
663,Ziniare,BF,77.04,overcast clouds,12.5822,-1.2983,Privilège Hôtel de Ziniaré
665,Bari,IT,77.88,clear sky,41.1177,16.8512,Mercure Villa Romanazzi Carducci Bari
670,Boa Vista,BR,80.58,scattered clouds,2.8197,-60.6733,Aipana Plaza Hotel
671,Ola,RU,79.14,broken clouds,59.5833,151.2833,

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))